<div class="search-details">
    <fieldset class="fieldset">
        <legend>Автор</legend>
        <input class="author-input" type="text" placeholder="Имя или Должность">
    </fieldset>
    <div class="checkbox">
        <section>
            <input name="member" type="checkbox">
            <label class="black" for="member">Я участник</label>
        </section>
        <section>
            <input name="stickMode" type="checkbox">
            <label class="black" for="stickMode">Строгий поиск</label>
        </section> 
        <section>
            <input name="headers" type="checkbox">
            <label class="black" for="headers">В заголовках</label>
        </section>
    </div>
    <section class="black">Только</section>
    <div class="checkbox">
        <section>
            <input name="tags" type="checkbox">
            <label class="black" for="tags">Теги</label>
        </section> 
        <section>
            <input name="wishes" type="checkbox">
            <label class="black" for="wishes">Просьбы</label>
        </section> 
        <section>
            <input name="contacts" type="checkbox">
            <label class="black" for="contacts">Контакты</label>
        </section> 
    </div>
</div>